body {
    background: rgb(245, 245, 245);
}
aside, blockquote, body, button, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, hr, input, label, legend, li, main, menu, nav, ol, p, pre, section, select, td, textarea, th, ul{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
.container-fluid{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* position: relative; */
}
.header {
    position: relative;
    margin-top: 20px;
}

.top-rig {
    position: absolute;
    top: -2px;
    right: 20px;
}
.pullDown {
    width: 100%;
    height: 60px;
    /* line-height: 60px; */
    background: #fff;
    border: 1px rgb(235, 235, 235) solid;
    border-radius: 2px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
}
.sel1{
    padding: 20px;
    float: left;
    /* padding-left:20px ; */
    /* padding-top: 20px; */
}
.sel2,.sel3,.sel4{
    padding: 20px;
    float: left;
    padding-left:30px ;
}
.selectpicker1,.selectpicker2,.selectpicker3,.selectpicker4{
    width: 230px;
}

.middle {
    height: 126px;
    background: #fff;
    border: 1px rgb(235, 235, 235) solid;
    border-radius: 2px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
}

.middle>.row {
    padding-top: 15px;
    box-sizing: border-box;
}

.middle>.row>.col-md-push-1 {
    left: 5.33%;
}

.middle .normtit {
    padding-left: 30px;
    box-sizing: border-box;
    color: #666;
    font-weight: 600;
}

.middle .norm {
    font-size: 12px;
    color: #666;
    list-style: none;
    margin: 0 !important;
}

.bottom {
    height: 610px;
    background: #fff;
    border: 1px rgb(235, 235, 235) solid;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.bottom>.row {
    margin-top: 10px;
    overflow:auto;
    height: 100%;
}

.tree {
    float: left;
    width: 11.66%;
    padding-left: 30px;
}

.list-group-item {
    /* background: rgb(245, 245, 245) !important; */
    border: 0;
    padding: 5px 10px;
}

.treelist {
    float: right;
    /* margin-left: 15px; */
    width: 87.33333333%;
    height: 100%;
    overflow-y: scroll;
    padding-left:0 !important ;
}

#table {
    height: 100%;
    table-layout: fixed;
    word-break: break-all;
    font-size: 12px;
}
.list-group li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    font-size: 14px;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.mask,.masks {
    /* background-color: rgba(0, 0, 0, 0.2); */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.prompt_box {
    width: 400px;
    height: 200px;
    background: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -200px;
    overflow: hidden;
}

.prompt_box .prompt_title {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid #1a9ebf;
    background: #e6e6e6;
    position: relative;
}

.prompt_box .prompt_title h3 {
    font-size: 16px;
    color: #333333;
    margin: 0;
    height: 40px;
    line-height: 40px;
}

.prompt_box .prompt_cancel {
    width: 24px;
    height: 24px;
    background: url("img/cancel.png") no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.prompt_box .prompt_cont {
    position: relative;
    height: 158px;
    background: #f5f5f5;
}

.prompt_box .prompt_cont .prompt_text {
    line-height: 125px;
    padding-left: 60px;
}

.prompt_box .prompt_cont .prompt_sure {
    position: absolute;
    right: 20px;
    bottom: 34px;
    width: 50px;
    height: 26px;
    background: #1a9ebf;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    cursor:pointer;
}

.hide {
    display: none;
}

.btns{
    display: inline-block;
}

.show {
    display: block;
}

.idel{
    position: absolute;
    top: 0;
    right: 10px;
    cursor:pointer;
}

input{
	cursor: pointer;
}
.mask img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 54%;
    z-index: 9999;
}
/* #spinner{
    position: absolute;
    top: 35%;
    left: 47%;
    z-index: 9999;
} */
#firstDiv{
    position: absolute;
    top: 30%;
    left: 47%;
    z-index: 9999;
}
#main table{
	width: 100%;
	text-align: center;
	position: relative;
}
#main table td{
	padding-bottom: 24px;
}
.bottomTd{
	position: relative;
}
.bottomTd:after{
	content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    height: 15px;
    border-top: 2px solid #ccc;
}

.bottomTd:first-child:after{
	content: "";
	position: absolute;
	left: 50%;
    height: 15px;
    right: 0;
    top: -15px;
    border: 2px solid;
    border-color: #ccc transparent transparent #ccc;
    border-radius: 6px 0 0 0;
    transform: translate3d(1px,0,0);
}
.bottomTd.only:after,.bottomTd:first-child:before,.bottomTd:last-child:before{
	display: none;
}
.bottomTd:last-child:after{
	content: "";
	position: absolute;
	right: 50%;
    height: 15px;
    left: 0;
    top: -15px;
    border: 2px solid;
    border-color: #ccc #ccc transparent transparent;
    border-radius:  0 6px 0 0;
    transform: translate3d(1px,0,0);
}
.tree_box{
	width:120px;
	height:120px;
}
.tree_box.level1{
	width:120px;
	height:120px;
	position: relative;
}
.tree_box:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 60px;
    height: 23px;
    border-left: 2px solid #ccc;
    transform: translate3d(-1px,0,0);
}
.tree_box.level1:after{
	bottom:37px;
}
.tree_box .tree_rect{
	width:120px;
	height:60px;
	border: 1px solid #ccc;
	background: rgb(103, 194, 58);
	position: relative;
}
.tree_box.level1 .tree_rect{
	
	background: rgb(220, 53, 69);
}
.bottomTd:before{
	content: "";
    position: absolute;
     height: 13px;
     top: -13px;
    border-left: 2px solid #ccc;
   	left: 50%;
    transform: translate3d(-1px,0,0);
}
.tree_name{
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}
.tree_box img{
	position: absolute;
	left: 0;
	right: 0;
	bottom:-134px;
	margin: auto;
}
.tree_box.level1 img{
	position: absolute;
	left: 0;
	right: 0;
	bottom:-134px;
	margin: auto;
}
.tree_box.level1 .tree_rect:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -70px;
    height: 20px;
    border-left: 2px solid #ccc;
    transform: translate3d(-1px,0,0);
}
.tree_box .tree_rect:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -72px;
    height: 20px;
    border-left: 2px solid #ccc;
    transform: translate3d(-1px,0,0);
}
.tree_box.hasChildF:after,.tree_box.hasChildF .tree_rect:after{
	display: none !important;
}
.tree_box.hasChildF .tree_rect{
	width: 110px;
	height: 110px;
	background:rgb(255, 193, 7);
	padding: 15px;
	border-radius: 50%;
}
